@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* related to js */


/* related to js */

@media screen and (max-width: 375px) {
  .desktop-pic {
    display: none;
  }
  main {
    margin-top: 10em;
  }
  .mobile-pic {
    display: flex;
    justify-content: center;
  }
  .mobile-illustration {
    max-width: 70%;
    position: absolute;
    top: 18px;
  }
  .mobile-bg {
    max-width: 70%;
    position: absolute;
    top: 120px;
  }
}



body {
  display: grid;
  place-items: center;
  align-items: center;
  max-height: 100vh;
  background-image: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  position: relative; 
  margin: 20px;
  color: hsl(238deg, 29%, 16%);
  font-size: 12px;
}
.accordion-container {
  background: white;
  border-radius: 20px; 
  padding: 135px 20px 50px;
}
.accordion-container h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  padding-bottom: 10px;
 }
.accordion-container h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
}
.accordion{
  border-bottom: 2px solid hsl(240deg, 5%, 91%);
  padding-bottom: 10px;
}
.accordion-container .accordion-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}
.accordion-container .accordion-header img {
  cursor: pointer;
  align-self: center;
}


/* for desktop */

@media screen and (min-width: 375px) {
  .mobile-pic {
    display: none;    
  }
  main {
    position: relative;
    overflow: hidden;
    width: 50%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 10%;
    border-radius: 20px;
    margin: 80px 50px;
    background: white;
  }
  .desktop-pic {
    position: relative;
    top: 80px;
    right: 58px;
  }
 .desktop_bg {
    display: block;
    width: 720px;
    position: absolute;
    top: -275px;
    left: -370px;
    z-index: -6;
  }
  .desktop_box {
    position: fixed;
    top: 275px;
    left: 322px;
    width: 150px;
  }
  .desktop_illustration {
    display: block;
    width: 350px;
    position: absolute;
    overflow:hidden;
  } 

  .accordion-container {
    padding-top: 20px;
    padding-right: 60px;

  }
}

.accordion-header button {
  border: 0;
  background: none;
}

.accordion-body {
  display: none;
}

.active .accordion-body {
  display: block;
}


.arw {
  transform: rotate(180deg);
}
.accordion-header .demo {
  font-weight: 900;
}


.accordion-header:hover {
   color: red;
} 

